page/inscription.pug
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Inscription
  link(rel='stylesheet' href='css/style.css')
#formu
  h1 Formulaire d'inscription
  form(method="post" acion="envoie" )
    label Pseudo :
    br
    input#pseudo(type='text' name='pseudo' required='')
    br
    p
    label Mot de passe :
    br
    input#pass(type='password' name='pass' required='')
    br
    p
    p
    button(type='submit' ) Enregistrer
  p
    a(href='index.html') Retour

inscription.html
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="formu">
            <h1>Formulaire d'inscription</h1>
        <form id="formulaire">
            <label>Pseudo :</label><br>
            <input type="text" name="pseudo" id="pseudo" required><br>
            <p></p>
            <label>Mot de passe :</label><br>
            <input type="text" name="pass" id="pass" required><br>
            <p></p>
            <label>Re-mot de passe :</label><br>
            <input type="text" name="re-pass" id="re-pass" required><br>
            <p></p>
            <button type="submit">Envoyer</button>
        </form>
            <p><a href="index.html">Retour</a></p>
    </div>
    
</body>
</html>
